@page "/recursos/listado"

@using BlazorApp1.Data
@inject RecursoService recursoService
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime


<h3>Listado de recursos</h3>

<button class="btn" @onclick="()=>Editar(0)">Nuevo</button>


@if (recursos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ID</th>
                <th>Usuario</th>
                <th>Acciones</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var recurso in recursos)
            {
            <tr>
                <td>@recurso.Nombre</td>
                <td>@recurso.Id</td>
                <td>@recurso.Usuario.User</td>
                <td><button class="btn" @onclick="()=>Editar(recurso.Id)">Editar</button> 
                <button class="btn" @onclick="()=>Borrar(recurso.Id)">Borrar</button></td>

            </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Recurso> recursos;

    protected override async Task OnInitializedAsync()
    {
        recursos = await recursoService.GetAll();

        /*
        foreach (var recurso in recursos)
        {
            recurso.Usuario = await recursoService.GetUsuarioRecurso(recurso.UsuarioId);
        }*/
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("recursos/editar/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el recurso?");
        if (confirmed)
        {
            await recursoService.Remove(id);
            recursos = await recursoService.GetAll();
        }
    }



}
